@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');gi
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background: rgb(48,63,143);
    --white: whitesmoke;
    --dark: #1f2937;
}
body{
    font-family: 'Oswald', sans-serif; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgb(47,150,163) ,rgb(48,63,143));
    color: #fff;
}
header{
    max-width: 800px;
    width: 100%;
   

}
header h1{
    color: var(--dark);
    margin-bottom: 5px;
  
}
#task-input{
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    width: 50%;
}
::placeholder{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--white);
    font-weight: lighter;

}
#input-submit{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
